---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
const posts = await getCollection("blog", ({ data }) => !data.draft);
const tags = [...new Set(posts.flatMap((post) => post.data.tags || []))].sort();
---

<Layout title="Tags" description="Lista de los tags disponibles." lang="es">
  <Container>
    <div class="space-y-10">
      <h1 class="animate font-semibold">Todos los tags</h1>
      {tags.length === 0 && (
        <p class="animate text-black/60 dark:text-white/60">
          Aún no hay tags.
        </p>
      )}
      <div class="animate flex flex-wrap gap-2">
        {
          tags.map((tag) => (
            <a
              href={`/tags/${tag}/`}
              class="rounded-sm px-2 py-1 text-sm ghost-surface"
            >
              {tag}{" "}
              <span class="text-sm text-black/60 dark:text-white/60">
                ({posts.filter((post) => post.data.tags?.includes(tag)).length})
              </span>
            </a>
          ))
        }
      </div>
    </div>
  </Container>
</Layout>
