---
import type { CollectionEntry } from "astro:content";
import ArrowIcon from "@components/ArrowIcon.astro";

type Props = {
  entry: CollectionEntry<"blog"> | CollectionEntry<"projects">;
};

const { entry } = Astro.props as {
  entry: CollectionEntry<"blog"> | CollectionEntry<"projects">;
};
---

<a
  href={`/${entry.collection}/${entry.id}/`}
  class="not-prose group relative flex flex-nowrap rounded-lg px-4 py-3 pr-10 ghost-surface"
>
  <div class="flex min-w-0 flex-1 flex-col">
    <div class="truncate font-semibold">
      {entry.data.title}
    </div>
    <div class="truncate text-sm">
      {entry.data.description}
    </div>
  </div>
  <ArrowIcon direction="right" size={5} />
</a>
