---
import ArrowIcon from "@components/ArrowIcon.astro";

type Props = {
  href: string;
};

const { href } = Astro.props;
---

<a
  href={href}
  class="not-prose group relative flex min-h-11 w-fit flex-nowrap items-center rounded-sm py-1.5 pr-3 pl-7 ghost-surface"
>
  <ArrowIcon direction="left" size={4} />
  <div class="text-sm">
    <slot />
  </div>
</a>
