---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE } from "@consts";
import Search from "@assets/svg/search.svg";
---

<header transition:persist>
  <Container>
    <div class="flex flex-wrap justify-between gap-y-2">
      <Link href="/" underline={false}>
        <div class="font-semibold">
          {SITE.TITLE}⚡️
        </div>
      </Link>
      <nav class="flex items-center gap-1 text-sm">
        <Link href="/blog">blog</Link>
        <span>
          {`/`}
        </span>
        <Link href="/experience">experience</Link>
        <span>
          {`/`}
        </span>
        <Link href="/projects">projects</Link>
        <span>
          {`/`}
        </span>
        <button
          id="magnifying-glass"
          aria-label="Search"
          class="flex items-center rounded-sm border border-black/15 bg-neutral-100 px-2 py-1 text-xs transition-colors duration-300 ease-in-out hover:bg-black/5 hover:text-black focus-visible:bg-black/5 focus-visible:text-black dark:border-white/20 dark:bg-neutral-900 dark:hover:bg-white/5 dark:hover:text-white dark:focus-visible:bg-white/5 dark:focus-visible:text-white"
        >
          search
          <Search />
        </button>
      </nav>
    </div>
  </Container>
</header>
