---
import ArrowIcon from "@components/ArrowIcon.astro";

const { prevPost, nextPost } = Astro.props;
---

<div class="grid grid-cols-2 gap-1.5 sm:gap-3">
  {
    prevPost?.id ? (
      <a
        href={`/blog/${prevPost?.id}/`}
        class="group relative flex min-w-0 flex-nowrap rounded-lg px-4 py-3 pl-10 no-underline ghost-surface"
      >
        <ArrowIcon direction="left" size={5} />
        <div class="line-clamp-2 min-w-0 text-sm">{prevPost?.data.title}</div>
      </a>
    ) : (
      <div class="invisible" />
    )
  }

  {
    nextPost?.id ? (
      <a
        href={`/blog/${nextPost?.id}/`}
        class="group relative flex min-w-0 grow flex-row-reverse flex-nowrap rounded-lg px-4 py-3 pr-10 no-underline ghost-surface"
      >
        <ArrowIcon direction="right" size={5} />
        <div class="line-clamp-2 min-w-0 text-sm">{nextPost?.data.title}</div>
      </a>
    ) : (
      <div class="invisible" />
    )
  }
</div>
