---
import SlidesLayout from "@layouts/SlidesLayout.astro";
---

<SlidesLayout>
  <section>
    <h1>Hola</h1>
  </section>

  <section>
    <pre>
        <code data-line-numbers="3,8-10">
<table>
    <tr>
    <td>Apples</td>
    <td>$1</td>
    <td>7</td>
    </tr>
    <tr>
    <td>Oranges</td>
    <td>$2</td>
    <td>18</td>
    </tr>
</table>
            </code></pre>
  </section>
</SlidesLayout>